@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Rubik:wght@500;600&display=swap");

:root {
  --primary-color: #89c15d;
  --white: #fff;
  --google-color: rgba(0, 0, 0, 0.54);
  --facebook-color: #1877F2;
  --apple-color: #000;
  --disable-color: #D2D4D6
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

a[href] {
  text-decoration: none;
}

.mt16{
  margin-top: 16px
}

.mt24 {
  margin-top:24px
}
